.carrito-container {
    display: flex;
}
.carrito-container img{
    height: 40px;
    filter: invert(100%);   
    z-index: 500;

}

.carrito-items {
    width: 30px;
    height: 30px;
    text-align: center;
    /* display: inline-block; */
    vertical-align: top;    
    background-color: red;
    border-radius: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: -8px -10px;
    z-index: 1000;
}
